@import "./components/mediaqueries";
@import "./components/mixins";
@import "./components/reset";
@import "./components/typography";

body {
  font-family: $YA-ff;
  font-size: $YA-Body;
  overflow-x: hidden;

  main {
    display: grid;
    grid-template-columns: 300px calc(100% - 300px);
    gap: 0px;

    section {
      &:first-of-type {
        position: relative;
        width: 100%;
        height: 100vh;
        background-color: $YA-mainTheme;

        .container {
          position: fixed;
          height: 100%;
          background-color: $YA-mainTheme;
          overflow: hidden;
          width: 300px;
          margin-left: 0.5rem;

          ul {
            position: absolute;
            top: 0.5rem;
            left: 0rem;
            width: 100%;

            li {
              position: relative;
              width: 100%;
              border-top-left-radius: 30px;
              border-bottom-left-radius: 30px;

              &:hover {
                color: $YA-mainTheme;
                background-color: white;

                a {
                  color: $YA-mainTheme;

                  &::before {
                    box-shadow: 35px 35px 0px $YA-white;
                    content: "";
                    position: absolute;
                    right: 0;
                    top: -50px;
                    width: 50px;
                    height: 50px;
                    background-color: transparent;
                    border-radius: 50%;
                    pointer-events: none;
                    box-shadow: 35px 35px 0px 10px $YA-white;
                  }

                  &::after {
                    box-shadow: 35px 35px 0px $YA-white;
                    content: "";
                    position: absolute;
                    right: 0;
                    bottom: -50px;
                    width: 50px;
                    height: 50px;
                    background-color: transparent;
                    border-radius: 50%;
                    pointer-events: none;
                    box-shadow: 35px -35px 0px 10px $YA-white;
                  }
                }
              }

              &:first-child {
                margin-bottom: 4rem;

                &:hover {
                  pointer-events: none;
                }

                a {
                  font-size: larger;
                  &:hover {
                    color: white;
                  }
                }
              }

              a {
                width: 100%;
                position: relative;
                display: flex;
                align-items: center;
                gap: 0.5rem;
                color: $YA-white;
                padding: 0.5rem 0rem;

                .icon {
                  position: relative;
                }

                .title {
                  position: relative;
                  white-space: nowrap;
                }
              }
            }
          }
        }
      }

      &:last-of-type {
        color: $YA-mainTheme;
        width: 100%;
        padding: 1rem;

        .container {
          @include YA-FLex-2;
          flex-direction: column;
          gap: 3.5rem;

          @include respond(small) {
            padding: 0px 1rem;
          }

          .sec-header {
            display: flex;
            font-size: x-large;

            i {
              cursor: pointer;
            }
          }

          .grid {
            display: grid;
            align-items: center;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 1.5rem;

            @include respond(medium) {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              grid-template-rows: repeat(3, 1fr);
            }

            @include respond(small) {
              display: flex;
              flex-direction: column;
              gap: 1.5rem;
            }

            div {
              height: 100%;
              border: $YA-grey 1px solid;
              border-radius: 8px;
              padding: 1rem;
              @include YA-FLex-2;
              flex-direction: column;
              gap: 0.5rem;
              box-shadow: 0px 20px 10px rgba(93, 93, 94, 0.2);
              border-top: none;

              @include respond(small) {
                width: 100%;
                padding: 1rem;
              }

              span {
                color: black;
              }

              &:last-of-type {
                @include YA-FLex;

                button {
                  padding: 0.5rem;
                  background-color: $YA-mainTheme;
                  color: $YA-white;
                  border: none;
                  outline: none;
                  border-radius: 8px;
                  cursor: pointer;
                  transition: 0.2s;

                  &:hover {
                    box-shadow: 0px 10px 10px rgba(93, 93, 94, 0.2);
                  }

                  &:active {
                    background-color: #4593e1d5;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

li.hovered {
  color: $YA-mainTheme;
  background-color: white;

  &:first-child {
    pointer-events: none;
  }

  a {
    color: $YA-mainTheme;

    &::before {
      box-shadow: 35px 35px 0px $YA-white;
      content: "";
      position: absolute;
      right: 0;
      top: -50px;
      width: 50px;
      height: 50px;
      background-color: transparent;
      border-radius: 50%;
      pointer-events: none;
      box-shadow: 35px 35px 0px 10px $YA-white;
    }

    &::after {
      box-shadow: 35px 35px 0px $YA-white;
      content: "";
      position: absolute;
      right: 0;
      bottom: -50px;
      width: 50px;
      height: 50px;
      background-color: transparent;
      border-radius: 50%;
      pointer-events: none;
      box-shadow: 35px -35px 0px 10px $YA-white;
    }

    .icon {
      color: $YA-mainTheme;
    }

    .title {
      color: $YA-mainTheme;
    }
  }
}

.active {
  display: flex;
  section {
    &:first-of-type {
      width: 2rem;

      .container {
        width: 2rem;

        ul {
          li {
            a {
              gap: 2rem;
            }
          }
        }
      }
    }
  }
}
